{% extends 'index.html' %}

{% block title %}Task info{% endblock %}

{% block content %}
    <div class="task-description">
        Ви - айті працівник зоопарку. На ваш зоопарк виділили кошти і керівництво вирішило побудувати окремі загони для різних класів ссавців. <br>
        Ваша задача подягає в тому, щоб побудувати систему розподілу тварин, зважаючи на те, що:<br>
        - хижаки не можуть бути розміщенні разом З травоїдними ссавцями;<br>
        - один клас ссавців селиться в один загін (у загоні, де є мавпи, не можна розмістити пантер чи левів)<br>
        - Кожна тварина має мати мінімальну "особисту площу;<br>
        - загальна територія під загони є обмеженою.<br>
        <br>
        Загальний хід програми:<br>
        <br>
        1. Користувач вводить список тварин (наприклад, "лев, мавпа, жирафа, мавпа, рись, олень, левиця, крокодил, мавпа)<br>
        і на виході очікує отримати інформацію про оптимальну кількість потрібних загонів, про кількість і клас тварин, які можуть бути там поселені.<br>
        Також користувач очікує отримати інформацію в разі, якщо площа під необхідну к-сть загонів перевищує надану територію для забудови.<br>
        Припустимо тепер, що ваш зоопарк вирішив прийняти n тварин з іншого зоопарку і керівницво,<br>
        перед прийняттям, хоче за допомогою існуючої системи з'ясувати, чи є в нашому зоопарку ресурси (розглядається місце)<br>
        <br>
        2. Користувач, маючи список всіх загонів, почергово селить кожну новоприбулу тварину у вибраний загін. <br>
        При цьому він очікує отримати відповідну інформацію в разі спроби поселення хижака до травоїдних чи навпаки, а також інформацію<br>
        чи може він поселити всіх новоприбулих.<br>
        Клас допустимих ссавців та відповідна мінімальна площа: <br>
        лев 12кв.м, мавпа 2кв.м, пантера 12кв м, рись 10кВ.М, олень 9кв.м, козуля 5кв.м, заєць 1кв.м, <br>
        єнот 1 КВ.М, ведмідь 7кв.м, крокодил 8кв.м, кінь 12 КВ.М, гепард 10 кВ.М.<br>
        Допустима територія для загонів: 3.4 КВ. КМ.<br>
        <br>
        Р.S. - для написання коду використовуйте англійську мову <br>
        Також введення даних користувачем теж має бути англійською (для прикладу: користувач вводить такий список "lion, monkey, crocodile, rаccоn'l
    </div>

{% endblock %}
